.no-mp-border-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.standart-body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  background-color: white;
}

.color-pink-header {
  color: #b73958;
}

.standart-header {
  display: flex;
  width: 100%;
  background-color: white;
  opacity: 0.902;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  min-height: 87px;
  z-index: 10;
}

.standart-header__title {
  font-size: 41px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  justify-content: space-between;
}

.standart-header__container {
  display: flex;
  flex-direction: row;
  width: 953px;
  padding-top: 13px;
  justify-content: space-between;
}

.standart-header__navigation {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
  width: 491px;
  margin-top: -3px;
}

.standart-header__navigation-link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 17px;
}

.standart-header__navigation-link_login-button {
  background-color: #de6c6e;
  color: white;
  display: flex;
  border-radius: 3px;
  min-height: 27px;
  width: 87px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 12px;
}

.standart-header__navigation-login-icon {
  width: 13px;
  height: 14px;
  z-index: 1;
  background-image: url("../images/login.svg");
}

.section-top {
  display: flex;
  flex-direction: column;
  min-height: 589px;
  background-image: url("../images/Background.png");
  background-size: cover;
  align-items: center;
}

.section-top__ellipses {
  width: 156px;
  height: 151px;
  background-image: url("../images/ellipses-top.svg");
  margin-top: 228px;
  margin-bottom: 23px;
}

.section-top__title {
  text-transform: uppercase;
  font-size: 69px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1;
  filter: drop-shadow(0 0 6.5px rgba(0, 0, 0, 0.22));
  margin-left: -54px;
  margin-bottom: 1px;
}

.section-top__subtitle {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  filter: drop-shadow(0 0 6.5px rgba(0, 0, 0, 0.22));
  margin-left: 58px;
}

.section-with-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid gray;
}

.section-with-icons__article {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-left: 9px;
  gap: 12px;
  align-items: center;
  width: 834px;
  margin-bottom: 51px;
}

.section-with-icons__title {
  font-size: 35px;
  color: #404040;
  font-weight: 400;
}

.section-with-icons__subtitle {
  width: 834px;
  height: 74px;
  font-size: 17px;
  color: #636363;
  font-weight: 400;
  text-align: center;
  margin-left: -10px;
  line-height: 1.18;
}

.section-with-icons__icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 954px;
  margin-bottom: 55px;
}

.section-with-icons__icons-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 179px;
  height: 179px;
  border-radius: 89px;
  background-color: #e48f23;
}

.section-with-icons__icons-list-item:nth-of-type(1) {
  margin-right: 76px;
  background-color: #4eb9f4;
}

.section-with-icons__icons-list-item:nth-of-type(2) {
  margin-right: 70px;
  background-color: #6fc125;
}

.section-with-icons__icons-list-item:nth-of-type(3) {
  margin-right: 76px;
  background-color: #ff5649;
  position: relative;
}

.section-with-icons__icon-camera {
  width: 80px;
  height: 70px;
  background-image: url("../images/section-icons/camera.svg");
  margin-top: 53px;
  margin-bottom: 8px;
}

.section-with-icons__icon-tickets {
  width: 82px;
  height: 82px;
  background-image: url("../images/section-icons/tickets.svg");
  margin-top: 41px;
  margin-bottom: 8px;
}

.section-with-icons__icon-beer {
  opacity: 0.259;
  width: 68px;
  height: 85px;
  background-image: url("../images/section-icons/beermug.svg");
  margin-top: 41px;
  margin-left: 11px;
  z-index: 0;
  margin-bottom: 2px;
}

.section-with-icons__icon-subtitle {
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.section-with-icons__icon-subtitle_tickets {
  margin-left: -2px;
}

.section-with-icons__icon-subtitle_beer {
  opacity: 0.259;
  z-index: 0;
}

.section-with-icons__icon-ipad {
  width: 76px;
  height: 76px;
  background-image: url("../images/section-icons/iPad.svg");
  margin-bottom: 5px;
  margin-top: 48px;
  margin-left: 6.5px;
}

.section-with-icons__overlay-text {
  display: flex;
  position: absolute;
  width: 131px;
  font-size: 12px;
  top: 38px;
  line-height: 1.18;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
