.no-mp-border-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reset-link-style {
  text-decoration: none;
  color: inherit;
}

.standart-body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  background-color: white;
}

.color-pink-header {
  color: #b73958;
}

.standart-header {
  display: flex;
  width: 100%;
  background-color: white;
  opacity: 0.902;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  min-height: 87px;
  z-index: 10;
}

.standart-header__title {
  font-size: 41px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  justify-content: space-between;
}

.standart-header__container {
  display: flex;
  flex-direction: row;
  width: 953px;
  padding-top: 13px;
  justify-content: space-between;
}

.standart-header__navigation {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
  width: 491px;
  margin-top: -3px;
}

.standart-header__navigation-link:visited {
  color: inherit;
}

.standart-header__navigation-link:hover {
  color: #ca2523;
  transition: all 300ms ease-in-out;
}

.standart-header__navigation-link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 17px;
  transition: all 300ms ease-in-out;
}

.standart-header__navigation-link_login-button:hover {
  background-color: #f52c2f;
  color: whitesmoke;
  transition: all 300ms ease-in-out;
}

.standart-header__navigation-link_login-button {
  background-color: #de6c6e;
  transition: all 300ms ease-in-out;
  color: white;
  display: flex;
  border-radius: 3px;
  min-height: 27px;
  width: 87px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 12px;
}

.standart-header__navigation-login-icon {
  width: 13px;
  height: 14px;
  z-index: 1;
  background-image: url("../images/login.svg");
}

.section-top {
  display: flex;
  flex-direction: column;
  min-height: 589px;
  background-image: url("../images/Background.png");
  background-size: cover;
  align-items: center;
}

.section-top__ellipses {
  width: 156px;
  height: 151px;
  background-image: url("../images/ellipses-top.svg");
  margin-top: 228px;
  margin-bottom: 23px;
}

.section-top__title {
  text-transform: uppercase;
  font-size: 69px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1;
  filter: drop-shadow(0 0 6.5px rgba(0, 0, 0, 0.22));
  margin-left: -54px;
  margin-bottom: 1px;
}

.section-top__subtitle {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  filter: drop-shadow(0 0 6.5px rgba(0, 0, 0, 0.22));
  margin-left: 58px;
}

.section-with-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid gray;
}

.section-with-icons__article {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-left: 9px;
  gap: 12px;
  align-items: center;
  width: 834px;
  margin-bottom: 51px;
}

.section-with-icons__title {
  font-size: 35px;
  color: #404040;
  font-weight: 400;
}

.section-with-icons__subtitle {
  width: 834px;
  height: 74px;
  font-size: 17px;
  color: #636363;
  font-weight: 400;
  text-align: center;
  margin-left: -10px;
  line-height: 1.18;
}

.section-with-icons__icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 954px;
  margin-bottom: 55px;
}

.section-with-icons__icons-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 179px;
  height: 179px;
  border-radius: 89px;
  background-color: #e48f23;
}

.section-with-icons__icons-list-item:nth-of-type(1) {
  margin-right: 76px;
  background-color: #4eb9f4;
}

.section-with-icons__icons-list-item:nth-of-type(2) {
  margin-right: 70px;
  background-color: #6fc125;
}

.section-with-icons__icons-list-item:nth-of-type(3) {
  margin-right: 76px;
  background-color: #ff5649;
  position: relative;
}

.section-with-icons__icon-camera {
  width: 80px;
  height: 70px;
  background-image: url("../images/section-icons/camera.svg");
  margin-top: 53px;
  margin-bottom: 8px;
}

.section-with-icons__icon-tickets {
  width: 82px;
  height: 82px;
  background-image: url("../images/section-icons/tickets.svg");
  margin-top: 41px;
  margin-bottom: 8px;
}

.section-with-icons__icon-beer {
  opacity: 0.259;
  width: 68px;
  height: 85px;
  background-image: url("../images/section-icons/beermug.svg");
  margin-top: 41px;
  margin-left: 11px;
  z-index: 0;
  margin-bottom: 2px;
}

.section-with-icons__icon-subtitle {
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.section-with-icons__icon-subtitle_tickets {
  margin-left: -2px;
}

.section-with-icons__icon-subtitle_beer {
  opacity: 0.259;
  z-index: 0;
}

.section-with-icons__icon-ipad {
  width: 76px;
  height: 76px;
  background-image: url("../images/section-icons/iPad.svg");
  margin-bottom: 5px;
  margin-top: 48px;
  margin-left: 6.5px;
}

.section-with-icons__overlay-text {
  display: flex;
  position: absolute;
  width: 131px;
  font-size: 12px;
  top: 38px;
  line-height: 1.18;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

.section-feed {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 100%;
  padding-top: 42px;
  gap: 78px;
  margin-bottom: 78px;
}

.section-feed__article {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 897px;
}

.section-feed__article-image {
  display: flex;
  width: 199px;
  height: 131px;
  object-fit: cover;
  margin-right: 23px;
}

.section-feed__article-text-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-self: start;
}

.section-feed__article-title {
  font-size: 27px;
  color: #404040;
  line-height: 1.3;
  font-weight: 400;
}

.section-feed__article-text {
  width: 722px;
  font-size: 15px;
  line-height: 22px;
  color: #8b8b8b;
  font-weight: 400;
  text-align: justify;
  margin-left: 5px;
}

.standart-footer {
  width: 100%;
  background-color: #252825;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  padding-top: 31px;
  padding-left: 15.03%;
}
@media screen and (max-width: 1284px) {
  .standart-footer {
    padding-left: calc(193px + -133 * (100vw - 1284px) / -260);
  }
}
@media screen and (max-width: 1024px) {
  .standart-footer {
    padding-left: 60px;
  }
}

.standart-footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.standart-footer__nav-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.standart-footer__nav-list-title {
  font-size: 21px;
  line-height: 22px;
  color: #aeaeae;
  font-weight: 400;
}

.standart-footer__nav-list {
  list-style: none;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  gap: 7.3px;
}

.standart-footer__nav-list-item {
  text-decoration: none;
  line-height: 1;
  font-weight: 400;
  font-size: 15px;
  color: #8b8b8b;
}

.standart-footer__nav-list-container:nth-of-type(1) {
  margin-right: 98px;
}
@media screen and (max-width: 1283px) {
  .standart-footer__nav-list-container:nth-of-type(1) {
    margin-right: calc(98px + -50 * (100vw - 1283px) / -259);
  }
}
@media screen and (max-width: 1024px) {
  .standart-footer__nav-list-container:nth-of-type(1) {
    margin-right: 40px;
  }
}

.standart-footer__nav-list-container:nth-of-type(2) {
  margin-right: 80px;
}
@media screen and (max-width: 1283px) {
  .standart-footer__nav-list-container:nth-of-type(2) {
    margin-right: calc(80px + -40 * (100vw - 1283px) / -259);
  }
}
@media screen and (max-width: 1024px) {
  .standart-footer__nav-list-container:nth-of-type(2) {
    margin-right: 40px;
  }
}

.standart-footer__nav-list-container:nth-of-type(3) {
  margin-right: 66px;
}
@media screen and (max-width: 1283px) {
  .standart-footer__nav-list-container:nth-of-type(3) {
    margin-right: calc(66px + -26 * (100vw - 1283px) / -259);
  }
}
@media screen and (max-width: 1024px) {
  .standart-footer__nav-list-container:nth-of-type(3) {
    margin-right: 40px;
  }
}

.standart-footer__nav-list-container:nth-of-type(4) {
  margin-right: 45px;
}

.standart-footer__nav-icons {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  gap: 9px;
}

.standart-footer__nav-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style: none;
}

.standart-footer__nav-icons-list-item {
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  align-items: center;
  justify-content: center;
  background-color: #696b6a;
}

.standart-footer__nav-icons-list-item:nth-of-type(1) {
  margin-right: 25px;
}

.standart-footer__nav-icons-list-item:nth-of-type(2) {
  margin-right: 23px;
}

.standart-footer__nav-icons-list-item:nth-of-type(3) {
  margin-right: 21px;
}

.standart-footer__nav-icon-twitter {
  width: 29px;
  height: 24px;
  background-image: url("../images/standart-footer/twitter.svg");
  margin-top: 3px;
  margin-left: 3px;
}

.standart-footer__nav-icon-dribble {
  width: 33px;
  height: 33px;
  background-image: url("../images/standart-footer/dribbble.svg");
}

.standart-footer__nav-icon-share {
  width: 29px;
  height: 27px;
  border-radius: 5px;
  background-image: url("../images/standart-footer/share.svg");
}

.standart-footer__nav-icon-facebook {
  width: 13px;
  height: 28px;
  background-image: url("../images/standart-footer/facebook.svg");
}

.standart-footer__copyright {
  font-size: 15px;
  line-height: 22px;
  color: #8b8b8b;
  font-weight: 400;
  margin-left: 2px;
}

/*# sourceMappingURL=styles.css.map */
